
<div class="bs-callout">
  <h2 class="section-heading" id="section-bitcoin">
    Bitcoin
    <a class="section-heading-link" href="#section-bitcoin">#</a>
  </h2>
  <p style="font-size: small;">
    <a href="https://en.wikipedia.org/wiki/Bitcoin" target="Wokno neasi">WFT is dAt?</a>
  </p>
  <p class="text-center">
    <img class="col-md-12 col-xs-12" src="/images/bitcoin-wallet-qr.svg" alt="My Bitcoin wallet address" />
    <a href="bitcoin:1J8kqJ8MSzwgqfhsisveMcoEyTySTb43GL" class="bitcoint-address">1J8kqJ8MSzwgqfhsisveMcoEyTySTb43GL</a>
  </p>
</div>
