<div class="bs-callout">
  <h2 class="section-heading" id="section-youtube">
    Video
    <a class="section-heading-link" href="#section-youtube">#</a>
  </h2>
  {% for vl in site.data.video_links %}
    <p>
      <a href="{{ vl.video_url }}" target="_blank">
        <img class="col-xs-12 col-md-6 youtube-thumbnail" src="{{ vl.thumb_url }}" alt="" />
      </a>
      <a href="{{ vl.video_url }}" target="_blank">
        <h3>{{ vl.name }}</h3>
      </a>
      <br>
      {{ vl.description }}
    </p>
    <div class="clearfix"></div>
    <hr>
  {% endfor %}
</div>
