<div class="bs-callout">
  <h2 class="section-heading" id="section-youtube">
    Video
    <a class="section-heading-link" href="#section-youtube">#</a>
  </h2>
  <p>
    <a href="https://vimeo.com/177815331" target="_blank">
      <img class="col-xs-12 col-md-6 youtube-thumbnail" src="http://i.vimeocdn.com/video/586007552_640.jpg" alt="" />
    </a>
    <a href="https://vimeo.com/177815331" target="_blank">
      <h3>[LBD] Prokopské údolí na longboardu</h3>
    </a>
    <br>
    This video is my trip to work via Prokopské Údolí
    (<a href="https://goo.gl/maps/hsjWuSUaknA2">https://goo.gl/maps/hsjWuSUaknA2</a>) on Longboard.
    Beautiful nature and piece of my city.
  </p>
  <div class="clearfix"></div>
  <hr>

  <p>
    <a href="https://www.youtube.com/watch?v=UKzelsMuHrE" target="_blank">
      <img class="col-xs-12 col-md-6 youtube-thumbnail" src="https://i.ytimg.com/vi/UKzelsMuHrE/mqdefault.jpg?v=UKzelsMuHrE" alt="" />
    </a>
    <a href="https://www.youtube.com/watch?v=UKzelsMuHrE" target="_blank">
      <h3>[LBD] Beroun s Dertem</h3>
    </a>
    <br>
    Trip on longboard to Beroun town with my friend Dert. I had about 34
    kilometers in my legs and then started to heavily rain.
  </p>
  <div class="clearfix"></div>
  <hr>

  <p>
    <a href="https://www.youtube.com/watch?v=78jXgOScxKE" target="_blank">
      <img class="col-xs-12 col-md-6 youtube-thumbnail" src="https://i.ytimg.com/vi/78jXgOScxKE/mqdefault.jpg" alt="" />
    </a>
    <a href="https://www.youtube.com/watch?v=78jXgOScxKE" target="_blank">
      <h3>Passo del Tonale 2016</h3>
    </a>
    <br>
    My vacation at Italian alps. Lot of snowboarding, boardgames and new food ;)
  </p>
  <div class="clearfix"></div>
  <hr>

  <p>
    <a href="https://www.youtube.com/watch?v=0McKLRFTw6s&index=7&list=PLbReVCIZw3JcH0Xu5yww2pk_BKMqgtEhc" target="_blank">
      <img class="col-xs-12 col-md-6 youtube-thumbnail" src="https://i.ytimg.com/vi/0McKLRFTw6s/mqdefault.jpg" alt="" />
    </a>
    <a href="https://www.youtube.com/watch?v=0McKLRFTw6s&index=7&list=PLbReVCIZw3JcH0Xu5yww2pk_BKMqgtEhc" target="_blank">
      <h3>Arduino - Apple remote</h3>
    </a>
    <br>
    One of my <a href="https://www.arduino.cc">Arduino</a> experiments. This one is about diods controlled
    by Apple Remote.
  </p>
  <div class="clearfix"></div>
  <hr>

  <p>
    <a href="https://www.youtube.com/watch?v=7lfbzZdDpVg" target="_blank">
      <img class="col-xs-12 col-md-6 youtube-thumbnail" src="https://i.ytimg.com/vi/7lfbzZdDpVg/mqdefault.jpg" alt="" />
    </a>
    <a href="https://www.youtube.com/watch?v=7lfbzZdDpVg" target="_blank">
      <h3>Lister leze dirou (manual color)</h3>
    </a>
    <br>
    My iguana lister on his way from lunch and getting some spring. I made this video when I started to play
    with colours in video.
  </p>
  <div class="clearfix"></div>

</div>
